{% block body %}
<div style="text-align:center">
<h1> Books </h1>
<div style="text-align:center">
    
     <table  class="center"  border="5" style="margin-left:auto;margin-right:auto">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Catégorie</th>
                <th>Date de publication</th>
                <th>Publié</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author.username }}</td>
                    <td>{{ book.category }}</td>
                    <td>{{ book.publicationDate ? book.publicationDate|date('Y-m-d') : 'Non définie' }}</td>
                    <td>{{ book.published ? 'Oui' : 'Non' }}</td>
                    <td><button><a href="{{ path('update', {'id': book.id}) }}" class="btn btn-primary">edit</a></button>
                     <button><a href="{{ path('show', {'id': book.id}) }}" class="btn btn-primary">show</a></button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
